/target
.idea
.DS_Store
.venv
__pycache__

node_api_dump.json
houdini_warnings.log
resources/stubs/
memo
resources/auto_graph.json

# can be deleted once the probe finished.
probe_io_report.json
vop_context_mapping.json
