{% macro normalize_label_name(v) -%}
{% set cleaned_label = v.doc_label | lower | replace(' ', '') | replace('_', '') -%}
{% set cleaned_name = v.name | lower -%}
{% if cleaned_name != cleaned_label %}
    /// {{ v.doc_label }}
{% endif -%}
{% endmacro %}
