pub struct {{ node.struct_name }};

impl {{ node.struct_name }} {
    pub fn new(name: &str) -> Self;
    pub fn set_input<N: crate::core::types::HoudiniNode>(self, index: usize, target: &N) -> Self;
    {% set ns = namespace(last_variant='') %}
    {% for p in node.params | sort(attribute='enum_variant') %}
    {% if p.enum_variant != ns.last_variant %}

    // --- {{ p.enum_variant }} parameters ---
    {% set ns.last_variant = p.enum_variant %}
    {% endif %}
    {% if p.is_multiparm %}
    {% if p.r_type == "()" %}
    pub fn trigger_{{ p.method_suffix }}(self, {{ p.fn_args }}) -> Self;
    {% else %}
    pub fn with_{{ p.method_suffix }}(self, {{ p.fn_args }}, val: {{ p.r_type }}) -> Self;
    {% endif %}
    {% else %}
    {% if p.r_type == "()" %}
    pub fn trigger_{{ p.method_suffix }}(self) -> Self;
    {% else %}
    pub fn with_{{ p.method_suffix }}(self, val: {{ p.r_type }}) -> Self;
    {% endif %}
    {% endif %}
    {% endfor %}
}

impl crate::core::types::HoudiniNode for {{ node.struct_name }} {
    fn get_name(&self) -> &str;
    fn get_node_type(&self) -> &'static str;
    fn get_inputs(&self) -> &std::collections::BTreeMap<usize, String>;
    fn get_params(&self) -> &std::collections::HashMap<String, crate::core::types::ParamValue>;
}
